# --- BACKEND (Spring Boot) ---
backend/target/
backend/.mvn/
backend/*.jar
backend/.gradle/
backend/build/

# --- FRONTEND (Angular) ---
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/tmp/

# --- IDEs y Sistema ---
.vscode/
.idea/
*.swp
*.log
.DS_Store
# Credenciales locales
.env
backend/src/main/resources/application-local.properties